
a{
  text-decoration: none;
  color: black;
}
h1{
  text-align: center;
  margin-bottom: 5px;
  font-size: 60px;
}
h2{
  display: inline;
  margin-top: 5px;
}
h3{
  text-align: center;
  padding; 0px;
  font-size: 15px;
  margin-top: 5px;
  color: lightgray;
}
#grid{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
}
img{
  width: inherit; max-width: 50%; height:auto;
  text-align: center;
  margin-bottom: 0px;
}
ul{
  list-style: none;
  padding-right: 40px;
}
li{
  padding: 5px;
}

h2:hover{
  background-color: lime;
}
li:hover{
  background-color: lime;
}
.introduction{
  margin-left: 15%;
  margin-right: 15%;
}
